@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}
@media (max-width: 767px) {

	#featured .flexslider .slide-caption {
		width: 90%;
		padding: 2%;
		position: absolute;
		left: 0;
		bottom: -40px;
	}
	#inner-headline .breadcrumb {
		float: left;
		clear: both;
		width: 100%;
	}
}
@media (max-width: 1920px) {
	.flex-direction-nav .flex-next {
		background-position: 100% 40%;
	}
	.flexslider .flex-prev {
		background-position: 0% -4px;
		left: 100%;
	}
	.flexslider .flex-next {
		opacity: 0.8;
	}
	/** dout full **/
	.gallery-flex-slider .flex-prev {
		opacity: 0.8;
		position: absolute;
		left: 0;
		margin-left: -1235px;
		margin-top: -14px;
	}
	.gallery-flex-slider .flex-prev {
		background-position: 0% -4px;
	}
	.gallery-flex-slider .flex-direction-nav .flex-next {
		background-position: 100% 40%;
	}
	/** dout full **/

}

@media all and (min-width: 1500px) {
	.gallery-flex-slider .flex-prev {
		opacity: 0.8;
		position: absolute;
		left: 0;
		margin-left: -1235px!important;
		margin-top: -14px;
	}
	}
@media all and (min-width: 1200px) {
	.gallery-flex-slider .flex-prev {
		opacity: 0.8;
		position: absolute;
		left: 0;
		margin-left: -1155px;
		margin-top: -14px;
	}
	}
@media all and (min-width: 768px) and (max-width: 1199px) {

	.gallery-flex-slider .flex-prev {
		opacity: 0.8;
		position: absolute;
		left: 0;
		margin-left: -795px;
		margin-top: -14px;
	}

	}

@media screen and (max-width: 650px) {
	h3 {
		font-size: 24px;
	}
	
	.project-details .county-box h2 {
		font-size: 28px;
	}
	h5, .our-story .bg-clr-w span {
		font-size: 20px;
	}
	p {
		font-size: 14px;
	}
	/** btn for all the pages **/
	.navbar-nav li a::after {
		position: none;
		top: 0;
		left: 0;
		width: 0;
		height: 0px;
		background: #00BFFF;
		content: '';
		opacity: 0;
	}
	/** btn for all the pages **/
	#bs-example-navbar-collapse-1 .navbar-nav {
		margin: 7.5px 0;
		text-align: center;
	}
	.partner-banner {
		height: auto;
	}
	.bg-video, .project-section, .about-section, .career-video, .career-banner {
		height: auto;
	}
	.get-touch, .trans-bg {
		min-height: auto;
	}
	.get-touch h3 {
		font-size: 24px;
		line-height: 30px;
	}
	.trans-bg h1 {
		font-size: 38px;
		line-height: 50px;
		margin: 40px 0 90px 0;
	}
	/** slider background change **/
	.indexslide_imgcaption {
		
		width: auto;
		top: 28%;
		font-size: 24px;
	}
	.indexslide_imgcaption {
		padding: 20px;
	}
	.indexslide_imgcaption .indexslide_imgdescrption {
		font-size: 14px;
	}
	.carousel-inner.vertical {
		height: 350px;
	}

	/** slider background change **/
	.our-foundation, .project-title, .happy-clients, .project-updates {
		padding: 24px 0;
	}
	.our-foundation hr, .project-title hr, .happy-clients hr, .project-aries .life-projects hr {
		margin-top: 15px;
		width: 150px;
	}
	.happy-clients hr {
		width: 110px;
	}
	.vertical-slider h4 {
		font-size: 24px;
	}
	.vertical-slider {
		padding: 15px 25px 15px 25px;
	}
	.vertical-slider p {
		font-size: 16px;
		padding: 18px 0
	}
	.project-title, .project-updates {
		padding-bottom: 10px;
	}
	.project-banner img {
		height: auto;
	}
	.project-details .county-box {
		padding: 45px 30px;
	}
	.project-details .county-box .county-content {
		padding: 25px 0;
	}
	.county-box .list-items li h4 {
		font-size: 20px;
	}
	.county-box .list-items .col-md-4 {
		padding-right: 30px;
	}
	.clients-section img {
		width: 100%;
	}
	.btn-info {
		padding: 12px 14px;
	}
	.testimonials {
		padding-top: 10px;
	}
	.happy-clients .testimonials .family-text {
		padding: 0 0 5px 0;
	}
	.testimonials .clients-section .clients {
		margin-bottom: 5px;
		padding: 40px 30px;
	}
	.happy-clients {
		padding-bottom: 0;
	}
	.banner-caption {
		margin: 10em 0;
	}
	/** footer **/
	.footer {
		padding: 15px 0;
	}
	.footer h6 {
		font-size: 14px;
	}
	.footer .right-details .address {
		font-size: 12px;
	}
	.right-details, .left-details {
		text-align: center;
	}
	.footer .left-details {
		padding: 0 0 10px 0;
	}
	.footer .left-details ul, .right-details .address {
		margin: 10px 0 0 0;
	}
	.footer-media .media-object {
		display: inherit;
	}
	.footer-media .media-left {
		text-align: center;
		padding-top: 15px;
	}
	/* project aries section css */
	.project-aries .dream-plot {
		padding: 15px 0;
	}
	.dream-plot ul {
		padding: 0 40px;
	}
	.dream-plot ul li {
		border-right: none;
		border-bottom: 1px solid #E2E2E2;
		padding: 10px 0;
	}
	.project-aries .dream-plot {
		margin-top: -45px;
	}
	.dream-plot h6 {
		padding: 15px 10px 20px;
		font-size: 18px;
	}
	.dream-plot ul li h4 {
		font-size: 24px;
	}
	.dream-plot ul li p {
		font-size: 18px;
	}
	.transparent-section {
		padding: 40px 0;
	}
	.project-aries .life-projects p {
		font-size: 14px;
		line-height: 25px;
	}
	.project-aries .life-projects .address-details {
		padding: 20px 0 0 0;
	}
	.project-aries .life-projects {
		margin: 31px 0 0 0;
	}
	.margin15 {
		margin-top: 0;
	}
	.current-projects .responsive-hide {
		border-bottom: 0;
	}
	.transparent-section .current-projects {
		margin-bottom: 0;
	}
	.transparent-section .thumbnail-details {
		padding: 30px 25px 25px;
	}
	.transparent-section .line-bottom {
		border-bottom: 1px solid #cecece;
	}
	.gallery-flex-slider .flex-prev {
		margin-left: -250px;
		margin-top: -14px;
	}
	/** usp section **/
	.usp-section {
		padding-top: 24px;
	}
	.usp-section .usp-btm {
		margin-bottom: 30px;
	}
	/** bank partners **/
	.bank-partners {
		padding: 10px 0px 30px;
	}
	.bank-partners ul li {
		padding-bottom: 15px;
	}
	/* about-us css */

	.our-story .bg-clr-w {
		padding: 25px 20px 25px 20px;
	}
	.our-story .bg-clr-w h3 {
		font-size: 28px;
		margin-bottom: 10px;
	}
	.our-story .bg-clr-w p {
		margin-top: 10px;
	}
	.our-story .bg-clr-w span {
		font-size: 18px;
	}
	.break-point {
		height: 20px;
	}
	.map-point {
		height: 300px;
	}
	/** layout details **/
	.project-updates .current-projects .layout-details {
		margin: 30px 0;
	}
	.project-updates .current-projects .layout-details .layout-thumbnail {
		padding: 5px 0 10px 0;
	}
	/** founders section **/
	.founders-section, .our-team {
		padding: 20px 0;
	}
	.founders-section .quotes {
		font-size: 16px;
		margin-bottom: 35px;
	}
	.founder-details .founders-content {
		padding: 0;
	}
	.founder-details .founders-content .body-content {
		/**padding: 15px 8px;**/
		padding: 25px 15px;
	}
	.founder-details .founders-content .special-quotes {
		line-height: 22px;
	}
	.founder-details .founders-content h6 {
		font-size: 18px;
		padding-bottom: 15px;
	}
	.founder-details .founders-content .special-quotes {
		margin: 15px 0;
		font-size: 20px;
	}
	.our-team .team-details {
		margin: 15px 0;
	}
	/** nav-tabs **/
	.nav-tabs {
		margin-top: -23px;
	}
	.nav-tabs > li {
		padding: 0 20px;
	}
	.tab-content {
		padding-top: 45px;
	}
	.bank-partners {
		padding: 20px 0 50px;
	}
	.blur-bg {
		padding: 35px 0 60px;
	}
	.blur-bg h2 {
		font-size: 30px;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a, .nav-tabs > li.active > a:focus {
		height: 45px;
		width: 45px;
		border-radius: 30px;
		padding: 11px;
		font-size: 16px;
	}
	/** project-details **/
	.our-foundation h3 {
		font-size: 24px;
	}
	.nav > li {
		margin: 0;
	}
	.project-details .right-section h2 {
		font-size: 28px;
		margin-bottom: 15px;
	}
	.project-details .right-section {
		padding: 25px 20px;
	}
	.right-section .project-information li {
		font-size: 14px;
		padding: 0 4px;
	}
	.right-section .project-information {
		margin: 0;
		padding: 10px 0;
	}
	.right-section .project-information .border-line {
		margin: 0 2px;
		padding: 0 14px;
	}
	.project-details .right-section h4 {
		font-size: 18px;
		margin: 25px 0 0 0;
	}
	.project-details .right-section .distance-line .distance h4 {
		font-size: 14px;
		margin: 10px 0 0;
	}
	.project-details .right-section .distance-line {
		border-right: none;
		padding: 25px 0;
	}
	.project-details .right-distace-line {
		border-bottom: 1px solid #e9e9e9;
	}
	.project-details .border-empty:last-child {
		border-bottom: none !important;
	}
	.project-details .right-section a {
		margin: 25px 0;
	}
	.gap-height {
		height: 20px;
		background: #e3e3e3;
	}
	/** navbar-default **/
	#bs-example-navbar-collapse-1 {
		padding: 0 !important;
	}
	.on {
		padding: 0;
	}
	.navbar-brand img {
		height: 50px;
	}
	/** contact us **/
	.location-img {
		margin-left: 0;
		position: inherit;
	}
	.cont-img {
		margin: 0;
	}
	.cont-img .white-box {
		height: 380px;
		padding: 25px 35px;
	}
	.cont-txt {
		font-size: 20px;
		padding: 25px 0 0 35px;
	}
	/** career style **/
	.carrer-section .join-us-box {
		margin-top: -75px;
		padding: 20px 0;
	}
	.carrer-section .life-projects h3, .carrer-section .current-projects h3 {
		font-size: 20px;
	}
	.project-aries .life-projects hr, .carrer-section .current-projects hr {
		margin-top: 15px;
	}
	.carrer-section .life-projects, .carrer-section .current-projects {
		margin: 25px 0;]
	}
	.carrer-section .join-us-box h2 {
		font-size: 24px;
		text-align: left;
		margin-bottom: 15px;
	}
	.carrer-section .join-us-box h6 {
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 24px;
	}
	.carrer-section .join-us-box .make-career {
		padding: 0 20px;
	}
	.carrer-section .on-screen .career_article3 {
		top: 32%;
		left: 0%;
	}
	.carrer-section .on-screen .career_article3 p {
		font-size: 18px;
	}
	.career_apply_pad {
		padding: 90px 37px;
	}
	.faq-content-section .list-section .panel-heading h4 {
		font-size: 18px;
	}
	.faq-content-section .panel-group .pannel-accordian {
		padding: 0 20px;
	}
	#request_callback .btn-default {
		padding: 11px 15px;
		font-size: 12px;
	}
	.faq-content-section .col-md-4 {
		padding-right: 0;
	}
	.faq-content-section .col-md-4 .form-section {
		margin-top: 0;
		margin-bottom: 50px;
	}
	#request_callback .form-group .form-control {
		height: 35px;
	}
	.faq-content-section .panel-group .pannel-accordian .panel-body p {
		padding-right: 0;
	}
	.faq-content-section .panel-group .pannel-accordian .panel-body .accordian-content {
		padding-bottom: 20px;
	}
	.faq-content-section .list-section .panel-heading h4 {
		padding: 25px 0 30px;
	}
	/** partners-section **/
	.partner-banner .login-section {
		margin: 20px 0px 35px 0;
	}
	input[type="submit"] {
		padding: 10px 60px;
	}

}

@media screen and (min-width: 1025px) {
	.clients_light {
		color: #939f9f;
		font-size: 25px;
	}
	.clients_clients {
		width: 100%;
		height: 150px;
		float: left;
		position: relative;
		display: flex;
		vertical-align: center;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		justify-content: center;
		align-items: middle;
		background-color: #f6f7f7;
	}
	.clients_happy {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 35px;
		border-bottom: 2px solid;
		border-bottom-color: #e5e5e5;
	}
	.clients_more_images {
		width: 100%;
		float: left;
		height: 475px;
		background-color: #f6f7f7;
		position: relative;
		font-family: 'proxima_nova_rgregular';
	}
	.clients_image_text_3 {
		width: 49.5%;
		height: 100%;
		float: left;
		position: absolute;
	}
	.clients_image_3 {
		width: 56%;
		height: 100%;
		float: left;
		overflow: hidden;
	}
	.clients_text_3 {
		width: 44%;
		height: 100%;
		float: left;
		background-color: white;
		text-align: center;
		display: flex;
		align-items: center;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_image_text_4_5 {
		width: 50%;
		height: 475px;
		float: right;
		background-color: #f6f7f7;
	}
	.clients_image_text_4 {
		width: 100%;
		height: 50%;
		float: right;
		position: relative;
	}
	.clients_image_4 {
		width: 49%;
		height: 100%;
		float: right;
	}
	.clients_text_4 {
		width: 50%;
		height: 100%;
		float: left;
		background-color: white;
		position: absolute;
		text-align: center;
		display: flex;
		align-items: center;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_image_text_5 {
		width: 100%;
		height: 50%;
		float: left;
		position: relative;
	}
	.clients_image_5 {
		width: 50%;
		height: 100%;
		float: left;
		position: absolute;
		overflow: hidden;
	}
	.clients_text_5 {
		width: 49%;
		height: 100%;
		float: right;
		background-color: white;
		text-align: center;
		display: flex;
		align-items: center;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_text_3 {
		background-color: white;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.clients_txt {
		font-family: 'proxima_nova_rgregular';
		font-size: 16px;
		color: #2f4f4f;
	}
	.clients_light {
		color: #939f9f;
		font-size: 22px;
	}
	.clients_clients {
		width: 100%;
		height: 150px;
		float: left;
		position: relative;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: flex;
		vertical-align: center;
		justify-content: center;
		align-items: middle;
		background-color: #f6f7f7;
	}
	.clients_happy {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 33px;
		border-bottom: 2px solid;
		border-bottom-color: #e5e5e5;
	}
	.clients_more_images {
		width: 100%;
		float: left;
		height: 475px;
		background-color: #f6f7f7;
		position: relative;
		font-family: 'proxima_nova_rgregular';
	}
	.clients_image_text_3 {
		width: 49.5%;
		height: 100%;
		float: left;
		position: absolute;
	}
	.clients_image_3 {
		width: 50%;
		height: 100%;
		float: left;
		overflow: hidden;
	}
	.clients_text_3 {
		width: 50%;
		height: 100%;
		float: left;
		background-color: white;
		text-align: center;
		display: flex;
		align-items: center;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_image_text_4_5 {
		width: 50%;
		height: 100%;
		height: 475px;
		float: right;
		background-color: #f6f7f7
	}
	.clients_image_text_4 {
		width: 100%;
		height: 50%;
		float: right;
		position: relative;
	}
	.clients_image_4 {
		width: 49%;
		height: 100%;
		float: right;
	}
	.clients_text_4 {
		width: 50%;
		height: 100%;
		float: left;
		background-color: white;
		position: absolute;
		text-align: center;
		display: flex;
		align-items: center;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_image_text_5 {
		width: 100%;
		height: 50%;
		float: left;
		position: relative;
		overflow: hidden;
	}
	.clients_image_5 {
		width: 50%;
		height: 100%;
		float: left;
		position: absolute;
	}
	.clients_text_5 {
		width: 49%;
		height: 100%;
		float: right;
		background-color: white;
		text-align: center;
		display: flex;
		align-items: center;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_text_3 {
		background-color: white;
	}
	/** project-details  section **/
	.gallery-flex-slider .flex-prev {
		margin-left: -590px;
		margin-top: -14px;
	}
}

.main_container {
	top: 100%;
	position: absolute;
	background-color: #f5f5f5;
	width: 100%;
	transform: translateX(0%) translateY(26%);
}
.box1 {
	position: relative;
	background-color: #f5f5f5;
	color: black;
	padding-top: 47px;
	padding-bottom: 21px;
}
.title_hr_client {
	width: 130px;
	margin: 23px auto;
	box-shadow: 1px 1px 1px 0px #888888;
	border-top: 1px solid #f5f5f5;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	.clients_light1 {
		font-size: 16px;
	}
	.clients_txt {
		font-family: 'proxima_nova_rgregular';
		font-size: 16px;
		color: #2f4f4f;
	}
	.clients_clients {
		width: 100%;
		height: 100px;
		float: left;
		position: relative;
		display: flex;
		vertical-align: center;
		justify-content: center;
		align-items: middle;
		background-color: #f6f7f7;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_happy {
		display: flex;
		justify-content: center;
		align-items: middle;
		font-size: 28px;
		border-bottom: 2px solid;
		border-bottom-color: #e5e5e5;
	}
	.clients_more_images {
		width: 100%;
		height: auto;
		float: left;
		font-family: 'proxima_nova_rgregular';
	}
	.clients_image_text_3 {
		width: 100%;
		height: 100%;
		float: left;
		position: relative;
	}
	.clients_image_3 {
		width: 50%;
		height: 100%;
		float: left;
		overflow: hidden;
	}
	.clients_text_3 {
		width: 50%;
		height: 100%;
		float: left;
		text-align: center;
		display: flex;
		align-items: center;
		position: absolute;
		right: 0;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_image_text_4_5 {
		width: 100%;
		height: 100%;
		float: left;
		background-color: #f6f7f7;
		position: relative;
	}
	.clients_image_text_4 {
		width: 100%;
		height: 50%;
		float: right;
		background-color: white;
		position: relative;
	}
	.clients_image_4 {
		width: 50%;
		height: 100%;
		float: right;
	}
	.clients_text_4 {
		width: 50%;
		height: 100%;
		float: right;
		text-align: center;
		background-color: white;
		display: flex;
		align-items: center;
		position: absolute;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_image_text_5 {
		width: 100%;
		height: 50%;
		float: left;
		position: relative;
		overflow: hidden;
	}
	.clients_image_5 {
		width: 50%;
		height: 100%;
		float: left;
		position: relative;
	}
	.clients_text_5 {
		width: 50%;
		height: 100%;
		float: left;
		background-color: white;
		text-align: center;
		display: flex;
		align-items: center;
		position: absolute;
		right: 0;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_text_3 {
		background-color: white;
	}
}

@media screen and (min-width: 220px) and (max-width: 479px) {
	.clients_light1 {
		font-size: 14px;
	}
	.clients_clients {
		width: 100%;
		height: 80px;
		float: left;
		position: relative;
		display: flex;
		vertical-align: center;
		justify-content: center;
		align-items: middle;
		background-color: #f6f7f7;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_happy {
		display: flex;
		justify-content: center;
		align-items: middle;
		font-size: 22px;
		border-bottom: 2px solid;
		border-bottom-color: #e5e5e5;
	}
	.clients_big {
		font-size: 25px;
		color: black;
	}
	.clients_txt {
		padding: 5%;
	}
	.clients_more_images {
		width: 100%;
		height: auto;
		float: left;
		font-family: 'proxima_nova_rgregular';
	}
	.clients_image_text_3 {
		width: 100%;
		height: 100%;
		float: left;
	}
	.clients_image_3 {
		width: 100%;
		height: 100%;
		float: left;
		overflow: hidden;
	}
	.clients_text_3 {
		width: 100%;
		height: 100%;
		float: left;
		text-align: center;
		display: flex;
		align-items: center;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_image_text_4_5 {
		width: 100%;
		height: 100%;
		float: left;
	}
	.clients_image_text_4 {
		width: 100%;
		height: 50%;
		float: left;
	}
	.clients_image_4 {
		width: 100%;
		height: 100%;
		float: left;
	}
	.clients_text_4 {
		width: 100%;
		height: 100%;
		float: left;
		text-align: center;
		background-color: white;
		display: flex;
		align-items: center;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.clients_text_3 {
		background-color: white;
	}
	.clients_image_text_5 {
		width: 100%;
		height: 50%;
		float: left;
		overflow: hidden;
	}
	.clients_image_5 {
		width: 100%;
		height: 100%;
		float: right;
	}
	.clients_text_5 {
		width: 100%;
		height: 100%;
		float: right;
		text-align: center;
		display: flex;
		background-color: white;
		align-items: center;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	.index_clients_txt {
		font-size: 18px;
		padding-left: 45px;
		text-align: left;
		padding-right: 30px;
		line-height: 1.5;
		font-family: 'proxima_nova_rgregular';
		padding-bottom: 30px;
		padding-top: 30px
	}
	.about-section {

		background-size: cover;
		height: 100%;
	}
	.project-section {
		background: url('../images/banner_image.jpg') no-repeat center top;
		background-size: cover;
		height: 100%;
	}
	.project-section1 {
		background: url('../images/pd-Image1.jpg') no-repeat center top;
		background-size: cover;
		height: 100%;
	}
	.project-section2 {
		background: url('../images/pd-Image2.jpg') no-repeat center top;
		background-size: cover;
		height: 100%;
	}
	.project-section3 {
		background: url('../images/pd-Image3.jpg') no-repeat center top;
		background-size: cover;
		height: 100%;
	}
	.project-section4 {
		background: url('../images/pd-Image4.jpg') no-repeat center top;
		background-size: cover;
		height: 100%;
	}
	.project-section5 {
		background: url('../images/pd-Image5.jpg') no-repeat center top;
		background-size: cover;
		height: 100%;
	}
	.career-banner {
		background: url('../images/career-banner.jpg') no-repeat center top;
		background-size: cover;
		height: 100%;
	}

}
@media screen and (min-width: 500px) and (max-width: 710px) {
	.down-arrow-circle {
		margin-top: 10%;
	}
	.header_text h1 {
		font-size: 3em;
	}
	.header_menu {
		margin: 0 50px;
	}
	.spinner-master2 {
		width: 35px;
	}
}
@media screen and (max-width: 499px) {
	.down-arrow-circle {
		margin-top: 15%;
	}
	.header_text h1 {
		font-size: 2em;
	}
	.header_menu {
		margin: 0 30px;
	}
	.spinner-master2 {
		width: 28px;
	}
	.
	.menu-li {
		right: 3em;
	}
}

@media screen and (min-width: 1800px) and (max-width: 4000px) {
	.container1 {
		padding-right: 400px;
		padding-left: 400px;
	}
	.gallery-flex-slider .flex-prev {
		left: 0;
		margin-left: -870px;
		margin-top: -15px;
		opacity: 0.8;
		position: absolute;
	}

}
@media screen and (min-width: 321px) and (max-width: 799px) {
	.header_text1 h1 {
		font-size: 50px;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
		opacity: 1 !important;
		padding-top: 50px;
		font-weight: bold;
		font-family: 'proxima_nova_rgbold';
	}
	.header_text1 {
		top: 50%;
		opacity: 1 !important;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	.header_text1 p {
		font-size: 16px;
		margin: 0 auto;
		padding: 10px 0;
		text-align: center;
		color: #fff;
		padding-bottom: 100px;
	}
	.trans-bg {
		position: relative;
		background: rgb(42, 101, 170);
		height: 475px;
		opacity: 0.9;
		background-attachment: fixed;
	}
	.trans-bg h1 {
		text-align: center;
		text-transform: uppercase;
		margin: 5px 0;
		line-height: 45px;
		font-size: 35px;
	}
	.project-section {
		background: url('../images/banner_image.jpg') no-repeat center top fixed;
		background-size: cover;
		height: 475px;
	}
	.project-section1 {
		background: url('../images/pd-Image1.jpg') no-repeat center top fixed;
		background-size: cover;
		height: 475px;
	}
	.project-section2 {
		background: url('../images/pd-Image2.jpg') no-repeat center top fixed;
		background-size: cover;
		height: 475px;
	}
	.project-section3 {
		background: url('../images/pd-Image3.jpg') no-repeat center top fixed;
		background-size: cover;
		height: 475px;
	}
	.project-section4 {
		background: url('../images/pd-Image4.jpg') no-repeat center top fixed;
		background-size: cover;
		height: 475px;
	}
	.project-section5 {
		background: url('../images/pd-Image5.jpg') no-repeat center top fixed;
		background-size: cover;
		height: 475px;
	}
	.conident-group-banner {
		background: url('../images/confident-group.jpg') no-repeat fixed;
		background-size: 100% 100%;
		height: 475px;
	}
}
@media screen and (min-width: 800px) and (max-width: 4000px) {
	.header_text1 h1 {
		font-size: 48px;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
		opacity: 1 !important;
		padding-top: 150px;
		font-weight: bold;
	}
	.header_text1 {
		top: 50%;
		opacity: 1 !important;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	.header_text1 p {
		font-size: 16px;
		width: 30%;
		margin: 0 auto;
		padding: 10px 0;
		text-align: center;
		color: #fff;
	}
	.trans-bg {
		position: relative;
		    background: rgba(13 ,83 ,169 ,0.7);
		height: 100%;
		background-attachment: fixed;
	}
	.trans-bg h1 {
		text-align: center;
		text-transform: uppercase;
		margin: 15px 0;
		line-height: 60px;
	}
}
@media screen and (min-width: 1000px) and (max-width: 4000px) {
	.carrer-section .join-us-box h2 {
		font-size: 40px;
		text-align: right;
	}
	.index_HDRTXT {
		font-size: 50px !important;
	}
}
@media screen and (min-width: 200px) and (max-width: 991px) {
	.carrer-section h2 {
		font-size: 40px;
		text-align: left;
		padding-bottom: 20px;
		padding-left: 25px;
	}
	.index_HDRTXT {
		font-size: 35px !important;
		line-height: 45px;
	}
}
/**responsive starts here**/

@media (min-width: 992px) and (max-width: 1200px) {

	.tab-content {
    padding: 24px 72px 37px !important;
    line-height: 1.7 !important;
    background-color: #005399;
    color: white;
    height: 388px;
}
   .menu ul {
    padding-right: 10px;
    font-size: 16px !important;
}
.scroll_logo {
    width: 0px !important;
    transition: all 1s ease-in-out;
        margin-left: 55px;
}
.ladding_logo {
    width: 260px !important;
    transition: all 1s ease-in-out !important;
}
.logo_img1{width: 0px;
    transition: all 1s ease-in-out !important;
    position: absolute;
    margin-left: 14px ;
    margin-top: 6px;}
.logo_img2{width: 150px;
    transition: all 1s ease-in-out !important;
    position: absolute;
    margin-left: 14px ;
    margin-top: 8px;}
.hght{height: 388px;}
.nav_col{
	padding-right: 88px;
}
.FLTL {
    float: left;
    margin: auto;
    font-size: 22px;
    color: #999999;
    margin-left: -22px;
    font-style: italic;
}
}

@media only screen and (max-width: 767px){
	.logo_img1{width: 0px;
    transition: all 1s ease-in-out !important;
    position: absolute;
    margin-left: 8px ;
    margin-top: 10px;}
	.logo_img2{width: 150px;
    transition: all 1s ease-in-out !important;
    position: absolute;
    margin-left: 8px ;
    margin-top: 8px;}
    .scroll_logo {
    width: 0px !important;
    transition: all 1s ease-in-out;
        margin-left: 55px;
}
.ladding_logo {
    width: 210px !important;
    transition: all 1s ease-in-out !important;
}
.navbar-toggle{margin-right: 5px !important;}
}
@media (min-width: 768px) and (max-width: 991px){
	.navbar-toggle {
    position: relative !important;
    float: right !important;
    background-color: transparent !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    display: block;
	}
	.collapse{
		    top: 49px !important;
	    display: block !important;
	    background: white !important;
	    position: absolute !important;
	    width: 230px !important;
	}
	.logo_img1{width: 0px;
    transition: all 1s ease-in-out !important;
    position: absolute;
    margin-left: 60px ;
    margin-top: 5px;}
	.logo_img2{width: 150px;
    transition: all 1s ease-in-out !important;
    position: absolute;
    margin-left: 60px ;
    margin-top: 8px;}
	.navbar-header {
	    float: none !important;
	}
	.btn{
		padding-right: 60px;
	    }
	.btn1{
		padding-right: 60px;
	    }
    .hansh{display: none !important;}
    .menu .padd_down li{    padding: 0;
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
	}
	.our-story .bg-clr-w{
		padding: 45px 24px 2px 45px;
	}
	.bg-clr-banner{height: 550px;}
	.EXBS {
    text-align: center;
    padding: 20px 0px 5px 0px;
    margin-top: 3px;
}
.FLTL {
    float: none;
    margin: auto;
    font-size: 24px;
    color: #999999;
    margin-left: 203px;
    font-style: italic;
}
.tab-content {
    padding: 40px 68px 40px 74px!important;
    line-height: 1.7 !important;
    background-color: #005399;
    color: white;
    height: auto;
}
.quick_links .section_1 p{
	font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
    opacity: .8;
    width: 87%;
}
.img1{width: 162px;}
.fonts{
	    margin: 16px 43px 0px 0px;
    padding: 0;
    list-style-type: none;
}
}
@media (min-width: 767px) and (max-width: 962px){
	.fonts{margin: 13px 0px 0px 0px;
    padding: 0;
    list-style-type: none;
}
.quick_links .section_3 p {
    font-size: 12px;
    padding-top: 100px;
}
}
@media (min-width: 768px) and (max-width: 790px){
	.fonts{margin: 13px -6px 0px 0px;
    padding: 0;
    list-style-type: none;
}
.quick_links .section_3 p {
    font-size: 12px;
    padding-top: 100px;
}
}
@media (min-width: 320px) and (max-width: 767px){
	.img1{ width:222px;}
	.quick_links .section_1 h1{padding-bottom: 0.5em;}
	.quick_links .section_1 p {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
    opacity: .8;
    width: 100%;
    padding-top: 13px;
}
h1{font-family: 'Lato','Open Sans', sans-serif !important;
    font-weight: 700;
    font-size: 100% !important;}
    .quick_links .section_3{
    	padding: 0;
    text-align: left;
    float: right;
    padding-top: 137px;
    }
    .section{
    	margin-top: 50px !important;
    }
    .quick_links .section_2{
    	padding: 0;
    text-align: left;
    padding-top: 18px;
    }
    .tab-content {
    padding: 26px 17px 13px 28px !important;
    line-height: 1.7 !important;
    background-color: #005399;
    color: white;
    height: auto;
}

.FLTL {
	float: none !important;
    font-size: 24px;
    color: #999999;
    font-style: italic;
    margin-left: 225px;
    margin-top: 0px;
}
}
@media only screen and (max-width: 991px){
	
	.project-title{padding: 18px 25px 5px 0px;}
	.wandh{width: 115px;}
	.nav > li{width: 100%;}
	.EXBS{padding: 20px 63px 5px 0px !important;
		  margin-top: 3px;
		}
	.menu {
	        right: 0;
	    transition: all 0s ease-in !important;
	    -webkit-transition: all 0s ease-in !important;
	    width: 230px;
	    background: white !important;
	    position: absolute;
	    display: none;
	    padding-top: 0px !important;
	}
	.nav_col {
	    padding-right: 0px !important;
	    padding-left: 0px !important;}
	.menu ul {
	    padding-right: 0px !important;
	    font-size: 16px !important;
	    margin: 0px;
	    width: 230px !important;
	}
	.menu_header ul li{border-bottom: 1px solid #e8e8e8 !important;}
	.menu_header ul > li:hover {
	    background-color: #005399 !important;
	}
	.menu_header ul > li:hover a {
	    color: #fff !important;
	}
	.menu_header ul li a:hover{color: white !important;
		 transition: all 0s ease-in !important;
	    -webkit-transition: all 0s ease-in !important;
	}
	}

@media (min-width: 320px) and (max-width: 331px){
	.fonts {
    margin: 16px 29px 0px 0px;
    padding: 0;
    list-style-type: none;
}
.tab-content {
    padding: 26px 17px 13px 14px !important;
    line-height: 1.7 !important;
    background-color: #005399;
    color: white;
    height: auto;
}
.FLTL{
	    float: left;
    margin: auto;
    font-size: 24px;
    color: #999999;
    font-style: italic;
    background: white;
    height: 273px;
    position: relative; 
    padding-left: 4px !important;
}

}


@media (min-width: 349px) and (max-width: 767px){
	.tab-content {
    padding: 26px 17px 13px 28px !important;
    line-height: 1.7 !important;
    background-color: #005399;
    color: white;
    height: auto;
}
}
@media only screen and (max-width: 767px){
	.collapse{float: left;
    display: block;
    top:49;
    right: 0;
}
}
@media only screen and (max-width: 992px){
	.hide_menu{display: none;}
	.collapse{display: block !important;}
	.nav > li{width: 100%;}
}
@media (min-width: 321px) and (max-width: 767px){
		.nav > li{width: 100%;}
		    .EXBS{padding: 20px 60px 5px 30px !important;
    margin-top: 3px;
    text-align: initial;
}
	    .FLTL{
	    float: left;
    margin: auto;
    font-size: 24px;
    color: #999999;
    font-style: italic;
    background: white;
    height: auto;
    position: relative; 
    padding-left: 19px !important;
}
}
@media  only screen and (min-width: 1201px){
	.hght{height: 329px;
	}
	.nav_col{
		padding-right: 88px !important;
	}
}
@media only screen and (max-width: 710px){
	.our-story .about-img img {
		    width: 100%;
		    height: 300px;
	}
}
@media only screen and (max-width: 335px){
	video {
    position: absolute;
    top: 25%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    /* height: auto; */
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
    -webkit-transition: 1s opacity;
    zoom: 1%;
	}
	.trans-bg {
	    position: relative;
	    background: rgb(42, 101, 170);
	    height: 245px;
	    opacity: 0.7;
	    background-attachment: fixed;
	}
}