@font-face {
	font-family: 'proxima_novaextrabold';
	src: url('../fonts/ProximaNova-Extrabold-webfont.eot');
	src: url('../fonts/ProximaNova-Extrabold-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Extrabold-webfont.html') format('woff2'), url('../fonts/ProximaNova-Extrabold-webfont.woff') format('woff'), url('../fonts/ProximaNova-Extrabold-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Extrabold-webfont.svg#proxima_novaextrabold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('../fonts/ProximaNova-Regular-webfont.eot');
	src: url('../fonts/ProximaNova-Regular-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular-webfont.html') format('woff2'), url('../fonts/ProximaNova-Regular-webfont.woff') format('woff'), url('../fonts/ProximaNova-Regular-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('../fonts/ProximaNova-Bold-webfont.html');
	src: url('../fonts/ProximaNova-Bold-webfontd41d.html?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold-webfont-2.html') format('woff2'), url('../fonts/ProximaNova-Bold-webfont.woff') format('woff'), url('../fonts/ProximaNova-Bold-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_condensedSBd';
	src: url('../fonts/ProximaNovaCond-Semibold-webfont.eot');
	src: url('../fonts/ProximaNovaCond-Semibold-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaCond-Semibold-webfont.html') format('woff2'), url('../fonts/ProximaNovaCond-Semibold-webfont.woff') format('woff'), url('../fonts/ProximaNovaCond-Semibold-webfont.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Semibold-webfont.svg#proxima_nova_condensedSBd') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ----------------------------------------------------------------------------------- */
/* CSS Reset & Clear
 /*----------------------------------------------------------------------------------- */
 #body{background-color: #e8e8e8;}
 .nav>li>a{ padding: 10px 9px !important;}
 .header_white{background-color: white !important;}
 .navbar-header{background-color: white;}
.PDNT{height: 58px;
	transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
	 }
.wandh{width:320px;
     height:600px; }
 header {
    width: 100%;
    position: fixed;
    display: block;
    z-index: 999;
    top: 0;
}
body{
    font-family: 'Lato','Open Sans', sans-serif !important;
    background-color: #e8e8e8;}
.logo {
    display: inline-block;
    float: left;
}
.scroll_animation {
    padding: 0px 28px 0px;
    transition: .5s all ease-in;
    -webkit-transition: 1s all ease-in;
    background-color: white;
    box-shadow: 0px 1px 0px #eee;
}
article{    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;}


.logo_img2 {
     width: 150px;
    transition: all 1s ease-in-out !important;
    position: absolute;
    margin-left: 88px;
    margin-top: 8px;
   
}
.scroll_logo {
    width: 0px !important;
    transition: all 1s ease-in-out;
        margin-left: 55px;
}
img{margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;
}
.ladding_logo {
    width: 260px !important;
    transition: all 1s ease-in-out !important;
}
.logo_img1 {
    width: 0px;
    transition: all 1s ease-in-out !important;
    position: absolute;
    margin-left: 88px;
    margin-top: 6px;

}
.menu_lines {
    display: block;
    position: relative;
    float: right;
    margin: 13px 0 0;
    cursor: pointer;
}
.menu_less{
	padding-top: 10px !important;
	transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;

}
.menu {
        right: 0;
    padding-top: 21px;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    background: white !important;
    position: absolute;
}
.menu ul {
    
    font-size: 16px !important;
}
.menu ul li {
    padding: 0;
    display: inline-block;
    position: relative;
}
.menu_items, .scroll_menu {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    margin: 0 5px;
    color: #666;
    text-decoration: none !Important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    padding-top: 8px;
}
.scroll_menu {
    color: #666 !important;
}
.header_height{
	min-height: 80px !important;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    background-color: #fff;
    
}
.navbar-default .navbar-toggle .icon-bar {
   border-color: white !important;
}



header article{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 10px 25px 10px;
    transition: 1s all ease-in;
    -webkit-transition: .5s all ease-in;
    background-color: white;
    box-shadow: 0px 1px 0px #eee;
}
a:hover{color: #23527c !important;}
.quick_links{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	background: rgba(13 ,83 ,169 ,0.8);
	margin-left: 0px;
	line-height: 1;
    font-family: 'Lato','Open Sans', sans-serif !important;
}
.quick_links .section {
	color: white;
	width: 75%;
	margin: 7em auto 5em;
	text-align: justify;
	position: relative;
    display: table;
    font-weight: 300;
}
.quick_links .section_1{
	padding: 0;
	text-align: left;
}
.quick_links .section_1 p{
	font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
    opacity: .8;
    width: 70%;
}
.quick_links .section_1 h1{
	padding-bottom: 1.5em; 
}
.quick_links .section_2 hr,.quick_links .section_3 hr{
	border: none;
	width: 25px;
	height: 3px;
	background: white;
	margin: 20px 0;
	float: left;
}
.quick_links .section_2{
	padding: 0;
	text-align: left;
}
.quick_links .section_2 ul {
	position: absolute;
	display: block;
	padding-top: 25px;
}
.quick_links .section_2 ul li{
	list-style-type: none;
	padding: 5px 0;
	display: inline-block;
    width: 40%;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
    opacity: .8;
    /*cursor: pointer;*/
}
.quick_links .section_2 ul li a{
	/*text-decoration: none;*/
	color: white;
}
.quick_links .section_3{
	padding: 0;
	text-align: left;
	float: right;
}
.quick_links .section_3 ul {
	position: absolute;
	display: block;
	padding: 28px 0 0 0px;
}
.quick_links .section_3 ul li{
	display: inline-block;
	padding: 4px 10px 0 0;
}
.quick_links .section_3 ul li a{
	color: white;
}
.quick_links .section_3 ul li:first-child{
	padding-left: 0;
}
.quick_links .section_3 p{
	font-size: 12px;
	padding-top: 106px;
}
.social-icons .fa {
	font-size: 1em;
}
.copy_right{
	font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
    opacity: .8;
}
.img1{width: 280px;}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 35px;
    height: 35px;
    line-height: 32px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 50%;
    border: 2px solid white;
}
.social-icons .fa-facebook:hover {
	color: #3a5795;
	border-color: #3a5795;
	background-color: white;
}
.social-icons .fa-linkedin:hover {
	color: #0077b5;
	border-color: #0077b5;
	background-color: white;
}
.social-icons .fa-twitter:hover {
	color: #1da1f2;
	border-color: #1da1f2;
	background-color: white;
}
.social-icons .fa-google-plus:hover {
	color: #cf3d2e;
	border-color: #cf3d2e;
	background-color: white;
}

.fonts{
	    margin: 16px 43px 0px 0px;
    padding: 0;
    list-style-type: none;
}
.carousel.vertical .item {
   -webkit-transition: 1s ease-in-out bottom;
   -moz-transition: 1s ease-in-out bottom;
   -ms-transition: 1s ease-in-out bottom;
   -o-transition: 1s ease-in-out bottom;
   transition: 1s ease-in-out bottom;   
   opacity: 1;
}
.header_container{width: 97%;
    margin: auto;
    display: block;
    position: relative;}
.FLTL{
	  float: left;
      margin: auto;
      font-size: 24px;
     color: #999999;
     font-style: italic;
 }
.FLTR{
		float: right;
      padding-top: 0px !important
      padding-left: 465px !important;
}
.Rmrgn{
	margin: 0px !important;
}
.nav-pills>li.active>a{
	color: #999999;
}
.EXBS{
	text-align:center; 
	  padding:20px 10px 5px 0px;
}
.nav-pills>li>a{
	background-color: transparent !important;
				color: #999999;
}
.nav-pills>li.active>a, .nav-pills>li>a:active{
	color: #337ab7 !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	font-size: 100%;
	background: transparent;
}
ol, ul, dl {
	margin: 16px 43px 0px 0px;
	padding: 0;
	list-style-type: none;
}
html, body {
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
a {
	text-decoration: none !important;
}
a:focus {
	outline: none;
}
/* Global styles
 ================================================== */
body {
	font-family: 'proxima_nova_rgregular';
	height: 100%;
	width: 100%;
}
h1, h2, h3, h5 {
	font-family: 'Lato','Open Sans', sans-serif !important;
	font-weight: 700;
	font-size: 100%;
}
h1, h3, h5 {
	text-transform: uppercase;
}
h1 {
	color: #ffffff;
	font-size: 100%;
}
h3 {
	font-size: 30px;
}
h5 {
	font-size: 26px;
}
a {
	text-decoration: none !important;
}
ul li {
	display: inline-block;
}
p {
	font-size: 16px;
}
.bg-clr-w {
	background: #ffffff;
}

/* Back to top start*/
.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: #999 url(images/up-arrow.png) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}
.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}
.no-touch .cd-top:hover {
	background-color: #e86256;
	opacity: 1;
}
/* Back to top end*/

.our-foundation, .project-title {
	padding: 38px 0;
}
.our-foundation h3 {
	color: 333333;
}
 .project-title hr,.our-team hr {
	width: 190px;
	border-top: 1px solid #cecece;
	margin-top: 20px;
}

.project-title{
	background: #e8e8e8;
	padding-bottom: 20px;
}
.project-title h5{
	text-align: center;
}

/* background video details */
/* ======================================================== */
.video-embed {
	position: relative;
	padding-top: 56.25%; /* 16:9 */
	height: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.video-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-background-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

/* About-us page start */
/* ======================================================== */

.about-section {
	background: url('../images/about-banner.jpg') no-repeat center center fixed;
	height: 100%;
	opacity: 0.9;
	background-size: cover;
}
.bg-clr-banner {
	background: #ffffff;
}
.our-story {
	background: #e8e8e8;
}
.our-story .about-img img {
	width: 100%;
	height: 550px;
}
.our-story .col-md-6, .our-story .col-md-6 {
	padding: 0;
}
.our-story .bg-clr-w h3 {
	font-size: 35px;
	text-transform: inherit;
	margin-bottom: 30px;
}
.our-story .bg-clr-w span {
	font-size: 24px;
	color: #999999;
	font-style: italic;
}
.our-story .bg-clr-w p {
	margin-top: 34px;
	line-height: 28px;
}
.our-story .content-bg-clor, .our-story .bg-clr-w {
	padding: 30px 80px 0;
}
/** our team section css **/
.our-team {
	padding: 45px 0;
}
.our-team .team-title {
	margin-bottom: 40px;
}
.our-team hr {
	margin-top: 15px;
}
.our-team img {
	width: 85%;
	display: inline-block;
}
.our-team .team-details {
	margin: 24px 0 54px 0;
}
.our-team .team-details span {
	font-size: 12px;
}
.our-team .team-details p {
	font-weight: bold;
}
.col-md-6{background-color: #fff;}
.tab-content {
	 padding: 58px 72px 37px !important;
	 line-height: 1.7 !important;
	 background-color: #005399;
	 color: white;
	 height: 328px;
	}
.content {
	width: 70%;
	margin: 0 auto;
	padding: 3em 0;
	color: #fff;
}
.video {
	
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
	-webkit-transition: 1s opacity;
	zoom: 1%;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: white !important;}
.navbar-default .navbar-toggle, .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{border-color: white !important;}
.btn{margin-top: 25px;
    }
.btn1{margin-top: 13px;
    }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: none !important; 
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    /background-color: none!important;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
     outline: none !important;
     outline: none !important; 
     outline-offset: none !important; 
}
.navbar-default .navbar-toggle, .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: none !important;
}
.navbar-default .navbar-toggle {
     border-color:white !important;
}
.navbar-toggle:focus {
     outline: 0; 
}
.btn.active, .btn:active {
    background-image: none !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
}
.fullscreen-bg {
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 overflow: hidden;
 z-index: -100;

}

.fullscreen-bg__video {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;

 
}
.trans-bg{
	transform: translateX(-0%) translateY(-0%);
	-webkit-transform: translateX(-0%) translateY(-0%);
	background-size: cover;
	transition: 1s opacity;
	-webkit-transition: 1s opacity;
	z-index: 99;
}
*::-webkit-media-controls{
	display: none !important; 
}
